
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<br>
<!--create a navigation bar(header)-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"th:href="@{/}">User Registration and Login Module</a>

        </div>
    </div>
</nav>

    <ul th:each="user: ${users}"> </ul>

    <form th:action="@{/registerPage}" th:object="${user}" method="POST">
        <div class="form-group">
            <label class="control-label" for="lastName">firstName </label>
                <input id="firstname" type="text" th:field="*{firstName}" placeholder="First Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="lastName">LastName </label>
                <input id="lastName" type="lastName" th:field="*{lastName}" placeholder="lastName" />
            </div>

            <div class="form-group">
                <label class="control-label" for="email">Email  </label>
                <input id="email" type="email" th:field="*{email}"  placeholder="email"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="password">Password   </label>
                <input id="password" type="password" th:field="*{password}" placeholder="password"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="streetName">StreetName</label>
                <input id="streetName" type="streetName" th:field="*{streetName}" placeholder="streetName"/>

            </div>
            <button type="submit" class="btn btn-primary" >Register</button>
        <span>Already registered?<a href="/@{/login}">Login here</a>

                </span>
        </div>

    </form>


</div>
</body>

</html>


